.header {
    display: flex ;
    flex-direction: row;
    background-color: antiquewhite;
    justify-content: space-between;
}

/* .MovieIcon {
    
    
} */

.logocontainer{
    height: 50px;
}